/Brano_data
/lightning_logs/
/logs/
/.vscode
/data
/msmarco_VAE_model_prime_beta_0.002/
.idea
sftp-config.json
*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
