data/amazon_review_prime_pantry/landingImage/
data/amazon_review_prime_pantry/meta_Prime_Pantry.json.gz
.idea
sftp-config.json
*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
